{% extends 'home/layout.html' %}

{% block content %}
<br>
<div class="card-columns">
{% for i, j in uc_list %}
    <div class="card" style="width: 18rem;">
      <img src="{{i.ProfilePic}}" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">{{i.FullName}}</h5>
        <p class="card-text">{{i.About}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{i.Department}}</li>
        {% if i.Designation == "Student" %}
        <li class="list-group-item">{{i.Program}}</li>
        {% endif %}
        {% if i.Designation == "Faculty" %}
        <li class="list-group-item">{{i.CollegeDesignation}}</li>
        {% endif %}
        <li class="list-group-item">{{i.Email}}</li>
      </ul>
      <div class="card-body">
        {% if i.URL.Homepage != "" %}
        <a href="//{{i.URL.Homepage}}" target="_blank" class="card-link">Home Page</a>
        {% endif %}
        {% if i.URL.Github != "" %}
        <a href="//{{i.URL.Github}}" target="_blank" class="card-link">Github</a>
        {% endif %}
        {% if i.URL.Linkedin != "" %}
        <a href="//{{i.URL.Linkedin}}" target="_blank" class="card-link">Linkedin</a>
        {% endif %}
      </div>
    </div>
{% endfor %}
</div>

<br>
{% endblock %}