{% extends "base_generic.html"%}

{% block sidebar %}
  {% if Designation == 'Faculty' %}
  <li>
    <a href="{% url 'course:random_groups' cinfo aid %}">Randomly Allocate Groups</a>
  </li>
  <li>
    <a href="{% url 'course:view_course' cinfo%}">Assignments</a>
  </li>
  <li>
    <a href="{% url 'discussion:events' cinfo %}">Events</a>
  </li>
  <li>
    <a href="{% url 'discussion:notice_board' cinfo %}">Noticeboard</a>
  </li>
  <li>
    <a href="{% url 'discussion:course_group' cinfo 1 %}">Discussion Room</a>
  </li>
  {% else %}
  <li>
    <a href="{% url 'course:view_course' cinfo%}">Assignments</a>
  </li>
  
  <li>
    <a href="{% url 'discussion:events' cinfo %}">Events</a>
  </li>
  <li>
    <a href="{% url 'discussion:notice_board' cinfo %}">Noticeboard</a>
  </li>
  <li>
    <a href="{% url 'discussion:course_group' cinfo 1 %}">Discussion Room</a>
  </li>
  {% endif %}
{% endblock %}


{% block content %}
<form method="POST">
    {% csrf_token %}
    {% for student in studentinfo %}
    <div class="jumbotron">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name = "checks[]" value = {{student.Username}} id = "{{student.Username}}">
        <label class="form-check-label" for="{{student.Username}}">{{student.Username}}</label>
      </div>
   </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Update Attendance</button>
</form>



{% endblock %}
