{% extends "base_generic.html"%}

{% block sidebar %}
  {% if Designation == 'Faculty' %}
  
  <li>
    <a href="{% url 'course:update_grp' cinfo aid gid %}">Update Details</a>
  </li>
  {% endif %}
  <li>
    <a href="{% url 'course:up_submission' cinfo aid gid %}">Submissions</a>
  </li>
    <li>
    <a href="{% url 'course:view_course' cinfo %}">Assignments</a>
  </li>
  <li>
    <a href="{% url 'discussion:events' cinfo %}">Events</a>
  </li>
  <li>
    <a href="{% url 'discussion:notice_board' cinfo %}">Noticeboard</a>
  </li>
  <li>
    <a href="{% url 'discussion:course_group' cinfo 1 %}">Discussion Room</a>
  </li>
  
{% endblock %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="ProjectTitle">Project Title</label>
    <input type="text" class="form-control" name="ProjectTitle" placeholder="ProjectTitle">
  </div>
  <div class="form-group">
    <label for="ProblemStatement">Problem Statement</label>
    <input type="text" class="form-control" name="ProblemStatement" placeholder="ProblemStatement">
  </div>
  <button type="update" class="btn btn-primary">Update</button>
</form>
{% endblock %}
